.App {
  text-align: right;
}
.header {
  font-size: 24px;
  text-align: center;
  margin: 20px;
}
.addinp {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  padding: 4px 8px;
  color: #f9fafb;
  cursor: pointer;
  border-color: #65afca;
  background-color: #2f9fc7;
}

.todo-wrapper {
  margin: 20px auto 20px auto;
  width: 500px;
  margin-top: 0px;
  min-height: 600px;
}
.search-wrapper {
  margin: 20px auto 20px auto;
  width: 500px;
  margin-top: 20px;
  border: 1px solid #e0dada;
  border-radius: 5px;
  box-shadow: gray;
  min-height: 450px;
}
.searchContainer {
  text-align: left;
}
.signIn-wrapper {
  margin-left: 27px;
  margin-right: 30px;
  border-radius: 5px;
  min-height: 300px;
  background-color: #f7f7f7;
  border: 1px solid #65afca;
}
.removeTodo {
  margin-left: 15px;

  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;

  color: #65afca;
  border-color: #65afca;
  background-color: white;
}
.inpt {
  width: 80%;
  border: none;
  border-top: 1px solid #65afca;
  border-bottom: 1px solid #65afca;
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
}
.selestInput {
  width: 30%;
  border: none;
  border-top: 1px solid #65afca;
  border-bottom: 1px solid #65afca;
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
}
.searchInpt {
  margin-left: 20px;
  width: 30%;
  border: 1px solid #65afca;
  padding: 5px;
  line-height: 17px;
}
.signin-inpt {
  width: 80%;
  border: 1px solid #65afca;
  padding: 5px;
  line-height: 17px;
  margin: 10px 37px;
}
#inputli {
  padding-right: 20px;
  text-align: left;
  list-style: none;
  background-color: #e5eef1;
  margin-right: 44px;
  margin-right: 20ox;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 6px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}
.inputLabel {
  font-size: 14px;
  margin-top: 11px;
  margin-left: 33px;
}
.signIn-h2 {
  text-align: center;
  margin-top: 14px;
  margin-bottom: 8px;
}
.done {
  text-decoration: line-through;
  color: silver;
  cursor: pointer;
}
#signIn-btn {
  margin-left: 188px;
  margin-top: 30px;
}
.txt-left {
  text-align: left;
  margin-left: 40px;
}
#todoText {
  margin-left: 8px;
  cursor: pointer;
}
.text {
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px;
}
.text:hover {
  color: #2f9fc7;
}
.form-class {
  display: flex;
  margin-top: 20px;
}
.yellowTag {
  background-color: #d0d841;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  padding: 1px;
  padding: 2px 5px;
  margin-left: 10px;
}
.greenTag {
  background-color: #e87057;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  padding: 1px;
  padding: 2px 5px;
  margin-left: 10px;
}
.blueTag {
  background-color: #6b6be6;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  padding: 1px;
  padding: 2px 5px;
  margin-left: 10px;
}
.margin-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mr {
  margin-right: 20px;
}
.ml {
  margin-left: 32px;
}
.mt {
  margin-top: 5px;
}
